
# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
env/

# Ignore dotenv environment files
.env

# Ignore database and data storage files
*.db
/data/

# Ignore logs
*.log

# Miscellaneous system files
.DS_Store
Thumbs.db
